/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*general css*/
*,*:before,*:after{
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(7, 112, 84);
}

body{
	font-size: 1rem;
	margin: 0 15px;
}


a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: rgb(33, 165, 30);
}

a:hover {
	color: rgb(255,255,255);
}

img {
	width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: rgb(33, 165, 30);
}


h1{
	font-size:3.375rem;
}
h2{
	font-size:2.25rem;
}
h3{
	font-size:1.5rem;
}
h4 {
	font-size: 1.25rem;
}

/*header*/
header{
	width: 100%;
	height: auto;
	padding: 15px 0;
}

header h1,header p {
	text-align: center;
}

header h1{
	font-size: 2rem;
	margin-bottom: 5px;
}

.title {
	padding: 15px 0 15px 0;
}

nav {
	padding: 5px;
	text-align: center;
}

nav li {
	padding-bottom: 5px;
}

/*menu*/
menu {
	background-color: rgb(255,255,255);
}

menu h2 {
	text-align: center;
	padding:70px 0 30px 0;
}

menu hr {
	width: 25%;
	margin: 0 auto;
	height: 8px;
	background-color: rgb(211, 163, 255);
	border-color: rgb(255,255,255); 
}

menu p {
	color:  rgb(33, 165, 30);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	padding: 30px;
	text-align: center;
	line-height: 1.5;
	font-weight: 500;
}

menu img {
	display: block;
	width: 65%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/*footer*/
footer {
	margin: 30px 0;
	color: rgb(153, 250, 153);
}

#address {
	text-align: center;
	line-height: 1.5;
	margin-bottom: 20px;
}

#footer_social_logos {
	text-align: center;
	margin-bottom: 15px;
}

#footer_social_logos a {
	padding: 5px 8px;
}

#footer_social_logos img{
	display: inline-block;
	width: 30px;
	height: 28px;
}

footer p:last-child {
	font-size: 80%;
	text-align: center;
}
/*media queries*/
@media only screen and (min-width: 400px){
	nav li {
		padding: 5px;
		padding-right: 30px;
		text-align: center;
	}

	.first_nav_row,.second_nav_row{
		display: flex;
		justify-content: center;
		align-items:  center;
	}

	.first_nav_row {
		margin-bottom: 10px;
	}

	.first_nav_row li:last-child,
	.second_nav_row li:last-child{
		padding-right: 0;
	}
}

@media only screen and (min-width: 450px){
	menu img {
		width: 50%;
	}
}

@media only screen and (min-width: 768px){
	nav li {
		display: inline-block;
		padding-right: 20px;
	}

	.first_nav_row,.second_nav_row{
		display: inline;
	}

	.first_nav_row li:last-child {
		padding-right: 30px;
	}

	menu img {
		width: 40%;
	}
}

@media only screen and (min-width: 992px){
	nav li {
		padding-right: 30px;
	}

	menu {
		display: flex;
    	justify-content: center;
	}

	.menu-text {
		width: 30%;
    	margin-top: 130px;
  	}

	menu img {
		width: 30%;
	    padding-top: 50px;
	    margin: 0;
	}
}

@media only screen and (min-width: 1200px){
	body {
		width: 1200px;
		margin: 0 auto;
	}
	nav li {
		padding-right: 40px;
	}
}
